.shape {
  position: absolute;
  animation: scroll 15s linear infinite;
  z-index: -1;
}

/* Shape Styles */
.circle {
  left: 100vw;
  border-radius: 50%;
}

@keyframes scroll {
  0% {
    left: 100vw;
  }
  100% {
    left: -192px;
  }
}

/* Positioning for shapes */
.shape:nth-child(1) {
  animation-duration: 48s;
  animation-delay: 1s;
  top: -70px;
  width: 192px;
  height: 192px;
}

.shape:nth-child(2) {
  animation-duration: 33s;
  animation-delay: 8s;
  top: -50px;
  width: 128px;
  height: 128px;
}

.shape:nth-child(3) {
  animation-duration: 28s;
  animation-delay: 2s;
  top: -40px;
  width: 96px;
  height: 96px;
}

.shape:nth-child(4) {
  animation-duration: 23s;
  animation-delay: 10s;
  top: -20px;
  width: 80px;
  height: 80px;
}

.shape:nth-child(5) {
  animation-duration: 21s;
  animation-delay: 0s;
  top: -20px;
  width: 64px;
  height: 64px;
}

@media (prefers-reduced-motion) {
  .shape:nth-child(1),
  .shape:nth-child(2),
  .shape:nth-child(3),
  .shape:nth-child(4),
  .shape:nth-child(5) {
    animation: none;
  }

  .shape:nth-child(1) {
    left: 20vw;
  }

  .shape:nth-child(2) {
    left: 67vw;
  }

  .shape:nth-child(3) {
    left: 42vw;
  }

  .shape:nth-child(4) {
    left: 53vw;
  }

  .shape:nth-child(5) {
    left: 72vw;
  }
}
